body {
    margin: 0;
    padding: 0;
}

h1 {
    width: 40%;
    color: crimson;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-style: italic;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}