body {
    margin: 0;
    padding: 0;
}

h1 {
    width: 300px;
    margin: auto;
    color: chocolate;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}